<div class="container">
  <div class="row">
    <div class="col-12 text-center">
    <table class='table'>
      <thead>
        <tr>
          <th>Name:</th>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @contact.email %></td>
        </tr>
        <tr>
          <th>Content:</th>
          <td><%= @contact.content %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </thead>
    </table>
        <%= link_to 'Edit', edit_contact_path(@contact) %> |
        <%= link_to 'Back', contacts_path %>
    </div>
  </div>
</div>
