<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', book: @new_book, user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="text-primary">Book detail</h2>
      <div class="card">
        <div class="card-body">

              <%= link_to user_path(@book.user) do %>
                <%= attachment_image_tag @user, :image, fallback: "no_image.jpg", format: 'jpeg', size: "40x40" %><%= @user.name %>
              <% end %>
            <table class="table table-borderless">
              <tr>
            <th nowrap>title</th><td><%= @book.title %></td>
            </tr>
            <tr>
            <th nowrap>説明</th><td><%= @book.body %></td>
            </tr>
            <tr>
            <th nowrap>レビュー</th><td>
              <div id="star-rate-<%= @book.id %>"></div>
            </td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('#star-rate-<%= @book.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= @book.rate %>,
});
</script>

